.experience{
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(18, 6, 1, 0.7)), url('../../img/experience-bg.jpg');
   background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    height: 70vh;
    margin-bottom: 8rem;
    padding: 0.5rem 3.5rem;
}
.achievement {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.circle {
    width: 5rem;
    height: 5rem;
    background: white;
    border-radius: 100%;
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.circle::after {
    border-radius: 100%;
    content: '';
    background-image: linear-gradient(to bottom,#D3B658  0%,#eeeeee  100%) !important;
    top: -8px;
    left: -8px;
    bottom: -8px;
    right: -8px;
    opacity: .3;
    position: absolute;

    box-shadow: var(--boxshadow);
}
.achievement span:nth-of-type(1){
    color: #fff;
}
.achievement span:nth-of-type(2){
    color: #D3B658;
}

@media (max-width: 667px) {
    .experience {
        margin-top: 25rem;
        grid-gap: 3rem;
    }
        .circle {
            width: 4rem;
            height: 4rem;
        }

}