.t-wrapper {
    width: 100%;
    height: 100vh;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    position: relative;
}

.t-heading {
    align-self: center;
}

.t-heading>*{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
    font-weight: bold;
}

.t-heading span:nth-of-type(2) {
    color: var(--brown);
}
 .t-heading span:nth-of-type(1) {
     font-size: 2.5rem;
     text-align: center;
 }

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    width: 30rem;
    height: 23rem;
    background: rgba(255, 255, 255, 0.26);
    border: 7px solid var(--orangecard);
    box-shadow: var(--boxShadow);
    border-radius: 20px;
}

.testimonial>img {
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
}

.testimonial>span {
    color: var(--gray);
    font-family: inherit;
    font-size: 16px;
    text-align: center;
}

/* Slider */
.t-wrapper .swiper {
    width: 100%;
    height: 70%;
}

.t-wrapper .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.t-wrapper .swiper-pagination-bullet-active {
    background: var(--orangecard);
}
@media (max-width: 669px) {
    .t-wrapper {
            margin-top: 40rem;


        }
        .testimonial{
            margin-bottom: 5rem;
        }
                .t-heading span:nth-of-type(1) {
                    font-size: 2rem;
                    text-align: center;
                    margin-left: 3rem;
                }
}